.container{
    background-image: url(./img/cascos.png);
    height: 750px;
   
}
.form{
    
    position :relative;
    width  : 500px;
    margin : 0 auto;
    padding: 1em;
    background-color: rgba(249, 246, 246, 0.5);   
    
}


.fondo{
    background: white;
    border-color: #E63A46;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    width: 450px; 
}
.labelFondo{
    background-color: rgba(249, 246, 246, 0.5);
}

.btn{
    background: white;
    border: solid 2px #E63A46;
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 80%;
}