
.block{
  max-width: 900px;
  margin:30px auto;
  padding: 20px;
  background-color: black;
  color: silver;
}

/* TABLES */
.tables{
	border-spacing: 1em;
	width: 100%;
	text-align: left;
	clear: both;
    max-width: none!important;
	border-collapse: separate!important;
  
}
.tables th{
	padding: 8px;
	font-size:.8em;
	color: #333;
	text-align: center;
}
.tables td{
	padding: .75rem;
	color: #575962;
	vertical-align: middle;
	font-size: .8em;
	/* border-bottom: 1px solid #f6f6f6; */
  	/* background-color:white; */
}
/* .tables td a{
	color:#2196F3;
} */
.tables tr:hover td{
	background: #575962;
	color: white;
	opacity:1;
}
.tables tfoot tr:last-child td{
	border-bottom:0;
	background-color:red;
	font-weight:bold;
}

.a_form {
	text-decoration:none;
}
.btn_play{
	background-color: #99B83C; 
	color: white;
	width: 2.5em;
    height: 2.5em;
    border-radius: 50em;
	border-color: silver;
}
.btn_update{
	background-color: #6EB5C0; 
	color: white;
	width: 2.5em;
    height: 2.5em;
    border-radius: 50em;
	border-color: silver;
}
.btn_delete{
	background-color: #E63A46; 
	color: white;
	width: 2.5em;
    height: 2.5em;
    border-radius: 50em;
	border-color: silver;
}

.tbl_td{
	background-color: white;
}

.tbl_td_accion{
	background-color: black;
	color: white;
}

/* Este elemento debe tener "position: relative" */
/* div#is-relative{
	max-width: 420px;
	position: relative;
  } */
  
  /* El icono debe ser "position: absolute"
   * Ademas le damos un "display: block" y lo posicionamos */
 /*  #icon{
	position: absolute;
	display: block;
	bottom: .5rem;
	right: 1rem;
	
	user-select: none;
	cursor: pointer;
  }
  input.input{
	padding-right: 2.5rem;
	
  }
 */

